<body>
    <main>
      <h1>
        Hello! Welcome To The Home Page!
      </h1>
      <br/>
      <br/>
      <fieldset>
        <h2>Reminders!</h2>
          <p> 
            There's always enough time to choose your passions and work over it.
            We are responsible for driving ourselves to the top! 
            Remember to take your hands off of things that you can't control and get your hands on what you can change.
            <br/>
            <br/>
            :) 
          </p>
        <blockquote><i>"The only time you should ever look back, is to see how far you've come." BTS </i></blockquote>
      </fieldset>
    </main>