
<footer>
    <p>Assignment 4 Web Development</p>
</footer>

<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/javascripts/app.js"></script>



</body>
</html>