<% include partials/header.ejs %>
<div style="width:1238px; margin-left:auto; margin-right:auto;">

  <br><br><br>
  <h1>About me!</h1>

  <img src="/assets/images/self1.jpg" alt="Picture of myself" width="300px">
  <br>
  <br>
    <p><b>&nbsp;&nbsp;Name: </b> Ekmat Sharifi</p>
    <p>&nbsp;&nbsp;Hey, my name is Ekmat Sharifi and im a student at Centennial College, currently studying Software Engineering.
        
    </p>
  
<% include partials/footer.ejs %>