<% include partials/header.ejs %>

<div style="width:1238px; margin-left:auto; margin-right:auto;">

    <br><br><br>
      <h1>Contact Us</h1>
      <p>Enter your information here to contact me: </p>   
      
      <br><strong>First Name</strong><br>
<input name="txtCourseCode" size="50" tabindex="1" type="text">
<br>
<br><strong>Last Name</strong><br>
<input name="txtCourseCode" size="50" tabindex="1" type="text">
<br>
<br><strong>Phone Number</strong><br>
<input name="txtCourseCode" size="50" tabindex="1" type="text">
<br>
<br><strong>Email</strong><br>
<input name="txtCourseCode" size="50" tabindex="1" type="text">
<br>
<br><strong>Any questions?</strong><br>
<textarea name="textarea" style="width:737px;height:75px;"></textarea>
<br><br><br>

<button onClick="window.location.reload();">Reset Form</button>
<br><br>
<form action="/">
    <input type="submit" value="Submit" />
</form>

</div>
<% include partials/footer.ejs %>