<% include partials/header.ejs %>
<div style="width:1238px; margin-left:auto; margin-right:auto;">

  <br><br><br>
  <h1><%= title %></h1>
    <p>Here is a list of the services I currently offer</p>
    <br>

    <p>- Web development and applications</p>
    <p>- Java Programming</p>
    <p>- C# Programs</p>
    <p>- Database management</p>
  
    <br>
    <p>If you would like to acquire my services, feel free to contact me on the Contact Us page</p>

<form action="/contact">
    <input type="submit" value="Contact Us" />
</form>

<% include partials/footer.ejs %>