<% include ../partials/header.ejs %>
<% include ../partials/footer.ejs %>

<!--Content for add page-->
<!DOCTYPE html>
<html>
  <!-- head content -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <main>
    <h1>
      Adding an entry
    </h1>
    
      <!-- fieldset for viewer contact info -->
      <fieldset>
        <form class="form"  method="POST">
          <table cellpadding="15" cellspacing="5" width="65%">
            <!-- first Row -->
            <tr>
              <td>
              <label><b>Name: </b></label><br/>
              <input type="text" name="name" id="nameTextField" size="40" required> </input>
              </td>
            </tr>
            <!-- second Row -->
            <tr>
              <td>
              <label><b>Email: </b></label><br/>
              <input type="text" name="email" id="numberTextField" size="40" required> </input>
              </td>
            </tr>
            <!-- third Row -->
            <!-- <tr>
              <td>
              <label><b>Published Year: </b></label><br/>
              <input type="text" name="published" id="publishedTextField" size="40" required> </input>
              </td>
            </tr> -->
            <!-- fourth Row -->
            <!-- <tr>
              <td>
              <label><b> Description: </b></label><br/>
              <textarea id="descriptionTextArea" name="description" rows="5" cols="40" required> </textarea>
              </td>
            </tr> -->
            <!-- fifth Row -->
            <tr>
              <td>
              <label><b>Number: </b></label><br/>
              <input type="number" name="number" id="numberTextField" size="40" required> </input>
              </td>
            </tr>
            <!-- sixth Row -->
            <tr>
              <td>
                 <button class="button" type="submit">
                    Submit
                 </button>

                 <a href="/business-list" class="button">
                    Cancel
                  </a>
              </td>
            </tr>
          </table>
        </form>
      </fieldset>
  </main>
  <script src="/javascripts/extrascript.js"></script>
</html>