<% include partials/header.ejs %>

<h1>About Me</h1>
<img src="/assets/images/me.jpg" alt="logo" style="width:300px; height:300px;">
<p>Name: Abdul Wali</p>
<p>Hello Fellow people who are reading this. My name is abdul and I am a software engineering student at centennial college. I hope you enjoy my Portfolio.</p>

<a href="Resume">Resume</a>

   


<% include partials/footer.ejs %>