<% include partials/header.ejs %>
<form action="mailto:awali6@my.centennialcollege.ca" method="post">
<div style="width:1350px; margin-left:auto; margin-right:auto;">
<center>
<h1>Contact</h1>
</center>
<div id="mission">
<table style="width: 100%" align="center" class="auto-style1">
<tbody><tr>
<td style="width: 400px">
<strong>
First Name
</strong>
<input name="txtCourseCode" size="50" tabindex="1" type="text" class="auto-style8">
<br><br><br>
<strong>
Last Name
</strong>
<input name="txtCourseCode" size="50" tabindex="1" type="text" class="auto-style8">
<br><br><br>
<strong>
Phone Number
</strong>
<input name="txtCourseCode" size="50" tabindex="1" type="text" class="auto-style8">
<br><br><br>
<strong>
Email
</strong>
<input name="txtCourseCode" size="50" tabindex="1" type="text" class="auto-style8">
<br><br><br>
<strong>
Any Questions?
</strong>
<br>
<br>
<textarea name="textarea" style="width:737px;height:75px;"></textarea>
<br><br>

</td>
<td style="width: 257px">

</tr>
</tbody>
</table>
</div>


<% include partials/footer.ejs %>