<% include partials/header.ejs %>

  <div class="jumbotron ">
    <div class="container">
      
      
<center>
  <h1><%= title %></h1>
  <b>
 <h5> <p>Welcome to Abdul's Personal Portfolio</p> </h5>
 <b>
<h1> <p>Mission Statement</p> </h1>
<br>
<h4>Vision</h4>
<br>
<p>To one day impact the software engineering industry around the world.</p>
<br>
<h4>Mission</h4>
<br>
<p>To learn more about software engineering and increase of my skills.</p>
<br>
<h4>Values</h4>
<br>
<ul></ul>
<li>Innovation</li>
<br>
<li> Diversity a-nd Inclusion</li>
<br>
<li>Phiolantrophy</li>
<br>
<li> Envrionment</li>
<br>
<li>Trustworthy Computing</li>

</ul>
</center>
    </div>


  </div>

  <% include partials/footer.ejs %>






