<% include partials/header.ejs %>


<h1><%= title %></h1>
<img src="/assets/images/download.jpg" alt="logo" style="width:450px; height:300px;">
<p>I created a bird game</p>
<br><br><br>
<img src="/assets/images/project.jpg" alt="logo" style="width:450px; height:300px;">
<p>I created my own home page that expands into other assignments</p>
<br><br><br>
<img src="/assets/images/software.jpg" alt="logo" style="width:450px; height:300px;">
<p>The use of sudo and its privligaes</p>

<% include partials/footer.ejs %>
