<% include partials/header.ejs %>
   

    <h1><%= title %></h1>
   
    <h3>Services I Offer</h3>



<ul>
<li>Basic Java</li>
<li> Basic Web development</li>
<li> basic web development</li>
<li>can repair or build computers</li>
</ul>

    
    <% include partials/footer.ejs %>
